RewriteEngine On
RewriteBase /gestion_dteae/

# Regla para manejar archivos dentro de subcarpetas en views/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/?$ views/$1/$2.php [L]

# Regla adicional para vistas directamente en views/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ views/$1.php [L]